
//primary
$clr--primary: #ffbc0d;
$clr--red: #bd2025;
$clr--nuetral: #ffffff;
$clr-dark: #333333;
//non-primary colors
$clr--accent: #db0007;
$clr--active: #2fad66;

// screen sizes:
$xs: "42rem";
$sm: "42rem";
$md: "92rem";
$lg: "144rem";
$xl: "180rem";